@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@theme {
  --color-stone-grey: #abadab;
  --spacing-container-width: 848px;
  --spacing-container-width: 742px;
  --font-sans: "InterVariable", sans-serif;
}
